<body>
    <div class="row">
        <div class="col-2">
            <a href="/add">
                <button type="">Add User</button>
            </a>
        </div>
        <div class="col-8">
            <table class="highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each allData}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{address}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-2"> </div>
    </div>
</body>